<!DOCTYPE html> {% extends 'base.html' %} {% load bootstrap4 %}{% load static %} {% block content %} {{block.super}}

<div class="container">

  <!-- Looping through news   -->
  {% for pic in pics %}

  <div class="row">
    <!-- displaying images -->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="pics">
      <a href="{% url 'show-profile' user_id=pic.user.id%}" <p>{{pic.user.username}}</p></a>
      <div class="img-responsive">
        <img src="{{ pic.picture.url }}" data-toggle="modal" data-target="#{{ pic.id }}">
      </div>


      <p>{{ pic.description }}</p>

      <form action="{% url 'comment' picture_id=pic.id%}" method="post" enctype="multipart/form-data">
        {% csrf_token %} {% bootstrap_form form %}
      </form>
      {% for comment in comments %} {% if comment.picture_id == pic.id %}
      <p>{{ comment.comment_text }}</p>
      {% endif %} {% endfor %}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <p><img src="static/images/friends_sticker_icon.png" alt="Avatar" class="avatar">{{ current_user }}</p>
      <hr>
      <p id="other">Other users</p>
      {% for p in prof %}
      <p style="margin-bottom:2px;"><strong><a href="{% url 'show-profile' user_id=p.user.id%}">{{ p.user.username }}</strong></p>
      </a>
      <small>{{ p.bio }}</small> {% endfor %}
    </div>



  </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No images to show</h2>
  </div>

  {% endfor %} {% for pic in pics %}
  <div class="modal fade" id="{{ pic.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ pic.gram_name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
        </div>
        <div class="modal-body">
          <img style="width:100%;" src="{{ pic.picture.url }}" alt="" class='img-responsive' id='Image'>
          <br>
          <p>{{ pic.description }}</p>
        </div>

        <div class="modal-footer">



        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="avat">

  </div>

</div>


{% endblock%}